---

const links = [
    {
        name: 'Listado',
        url: '/'
    },
    {
        name: 'Paginado',
        url: '/pokemons/1'
    },
    {
        name: 'Favoritos',
        url: '/favorites'
    }
]
---

<nav class="shadow bg-slate-900">
    <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300">
        {
            links.map(({url, name}) => (
            <a href={url} class="text-gray-800 dark:text-gray-200 border-b-2 border-blue-500 mx-1.5 sm:mx-6">{name}</a>
            ))
        }
       
       
    </div>
</nav>
  